<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Eric Lagasca">
  <meta name="description" content="<!-- UPDATE ME!!! -->">

  <title><!-- UPDATE ME!!!--> &raquo; { "dev" : "elagasca" }</title>

  <link rel='stylesheet' href='/static/css/default.css' />
</head>

<body>

  <header>
    <p><a href="/">&laquo; Home</a></p>
  </header>

  <article>
    <h1><!-- UPDATE ME!!! --></h1>
    <aside><em><!-- UPDATE ME!!! --></em></aside>

    <hr>

    <!-- UPDATE ME!!! -->

  </article>

  <hr>

  <footer>
    <p><a href="/">&laquo; Home</a></p>
  </footer>

</body>

</html>